<!DOCTYPE html>
<html lang="en">
{{- $avatarImgSrc := (resources.Get .Site.Params.AvatarURL).RelPermalink -}}
{{- if and (isset site.Params "avatarURL") (not (hasPrefix $avatarImgSrc "http")) -}}
{{- $avatarImgSrc = (urls.JoinPath $.Site.BaseURL ($.Site.Params.AvatarURL | default "")) -}}
{{- end -}}
{{- .Scratch.Set "avatarImgSrc" $avatarImgSrc -}}

{{- $bannerImgSrc := (resources.Get .Site.Params.BannerURL).RelPermalink -}}
{{- if and (isset site.Params "bannerURL") (not (hasPrefix $bannerImgSrc "http")) -}}
{{- $bannerImgSrc = (urls.JoinPath $.Site.BaseURL ($.Site.Params.BannerURL | default "")) -}}
{{- end -}}
{{- .Scratch.Set "bannerImgSrc" $bannerImgSrc -}}

{{- if isset site.Params "pronouns" -}}
    {{- $pronounMap := dict "he" "he/him" "she" "she/her" "they" "they/them" "it" "it/its" "any" "Any pronouns" "ask"
    "Ask me my pronouns" "avoid" "Avoid pronouns, use my name" "other" "Other pronouns" -}}
    {{- $pronouns := site.Params.Pronouns -}}
    {{- if hasPrefix $pronouns "pronoundb:" -}}
        {{- $pronouns = replace $pronouns "pronoundb:" "" -}}
        {{- $pronoundbURL := printf "https://pronoundb.org/api/v2/users/%s" $pronouns -}}
        {{- $pronoundbJSON := dict -}}
        {{- with resources.GetRemote $pronoundbURL -}}
            {{- $pronoundbJSON = . | unmarshal -}}
        {{- else -}}
            {{- errorf "Unable to fetch the PronounDB API" -}}
        {{- end -}}

        {{- $pronounSets := index $pronoundbJSON.sets.en -}}
        {{- if eq (len $pronounSets) 1 -}}
            {{- $pronouns = index $pronounSets 0 -}}
            {{- $pronoun := index $pronounMap $pronouns -}}
        {{- else -}}
            <!-- Add them all separated by "/" without spaces between -->
            {{- $pronouns = "" -}}
            {{- range $index, $element := $pronounSets -}}
                {{- if gt $index 0 -}}{{- $pronouns = printf "%s/" $pronouns -}}{{ end -}}
                {{- $pronouns = printf "%s%s" $pronouns $element }}
            {{- end -}}
        {{- end -}}
    {{- end -}}
    {{- if hasPrefix $pronouns "pronouns.page:" -}}
        {{- $pronouns = replace $pronouns "pronouns.page:" "" -}}
        {{- $username := $pronouns -}}
        {{- $pronounsPageURL := printf "https://en.pronouns.page/api/profile/get/%s?version=2" $pronouns -}}
        {{- $pronounsPageJSON := dict -}}
        {{- with resources.GetRemote $pronounsPageURL -}}
            {{- $pronounsPageJSON = . | unmarshal -}}
        {{- else -}}
            {{- errorf "Unable to fetch the Pronouns.page API" -}}
        {{- end -}}

        {{- $pronounSets := index $pronounsPageJSON.profiles.en.pronouns -}}
        {{- if eq (len $pronounSets) 1 -}}
            {{- $pronouns = index $pronounSets 0 -}}
            {{- $pronouns = $pronouns.value -}}
        {{- else -}}
            <!-- Add them all separated by "/" without spaces between -->
            {{- $pronouns = "" -}}
            {{- range $index, $element := $pronounSets -}}
                {{- $pronoun := "" -}}
                {{- $pronounsPagePronoun := printf "https://en.pronouns.page/api/pronouns/%s" $element.value -}}
                {{- with resources.GetRemote $pronounsPagePronoun -}}
                    {{- $data := . | unmarshal -}}
                    {{- $pronoun = $data.canonicalName -}}
                {{- else -}}
                    {{- errorf "Unable to fetch the Pronouns.page API" -}}
                {{- end -}}
                {{- if eq ($element.value) "any" -}}
                    {{- $pronoun = "any" -}}
                {{- end -}}
                {{- if eq ($element.value) "all" -}}
                    {{- $pronoun = "all" -}}
                {{- end -}}
                {{- if eq ($element.value) "ask" -}}
                    {{- $pronoun = "ask" -}}
                {{- end -}}
                {{- if eq ($element.value) "avoid" -}}
                    {{- $pronoun = "avoid" -}}
                {{- end -}}
                {{- if eq ($element.value) "other" -}}
                    {{- $pronoun = "other" -}}
                {{- end -}}
                {{- if gt $index 0 -}}{{- $pronouns = printf "%s/" $pronouns -}}{{ end -}}
                {{- $pronouns = printf "%s%s" $pronouns $pronoun }}
            {{- end -}}
        {{- end -}}
        {{- $pronounsPageLink := printf "https://en.pronouns.page/@%s" $username -}}
        {{- $pronouns = printf "<a href=\"%s\">%s</a>" $pronounsPageLink $pronouns -}}
    {{- end -}}
    {{- if isset site.Params "flag" -}}
        {{- $pronouns = printf "%s | %s" $pronouns .Site.Params.Flag -}}
    {{- end -}}
    {{- .Scratch.Set "pronouns" $pronouns -}}
{{- end -}}

{{- partial "head.html" . -}}

<body>
    <script type="text/javascript">
        // Immediately set theme on page load
        setThemeByUserPref();
    </script>
    {{- partial "header.html" . -}}
    <main id="content">
        {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
</body>

</html>