<!DOCTYPE html>
<html lang="en">
{{- $avatarImgSrc := (resources.Get .Site.Params.AvatarURL).RelPermalink -}}
{{- if and (isset site.Params "avatarURL") (not (hasPrefix $avatarImgSrc "http")) -}}
{{- $avatarImgSrc = (urls.JoinPath $.Site.BaseURL ($.Site.Params.AvatarURL | default "")) -}}
{{- end -}}
{{- .Scratch.Set "avatarImgSrc" $avatarImgSrc -}}

{{- $bannerImgSrc := (resources.Get .Site.Params.BannerURL).RelPermalink -}}
{{- if and (isset site.Params "bannerURL") (not (hasPrefix $bannerImgSrc "http")) -}}
{{- $bannerImgSrc = (urls.JoinPath $.Site.BaseURL ($.Site.Params.BannerURL | default "")) -}}
{{- end -}}
{{- .Scratch.Set "bannerImgSrc" $bannerImgSrc -}}

{{- partial "head.html" . -}}

<body>
    <script type="text/javascript">
        // Immediately set theme on page load
        setThemeByUserPref();
    </script>
    {{- partial "header.html" . -}}
    <main id="content">
        {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
</body>

</html>