<!DOCTYPE html>
<html lang="en">
{{- $avatarImgSrc := (resources.Get .Site.Params.AvatarURL).RelPermalink -}}
{{- if and (isset site.Params "avatarURL") (not (hasPrefix $avatarImgSrc "http")) -}}
{{- $avatarImgSrc = (urls.JoinPath $.Site.BaseURL ($.Site.Params.AvatarURL | default "")) -}}
{{- end -}}
{{- .Scratch.Set "avatarImgSrc" $avatarImgSrc -}}

{{- $bannerImgSrc := (resources.Get .Site.Params.BannerURL).RelPermalink -}}
{{- if and (isset site.Params "bannerURL") (not (hasPrefix $bannerImgSrc "http")) -}}
{{- $bannerImgSrc = (urls.JoinPath $.Site.BaseURL ($.Site.Params.BannerURL | default "")) -}}
{{- end -}}
{{- .Scratch.Set "bannerImgSrc" $bannerImgSrc -}}

{{- if isset site.Params "pronouns" -}}
    {{- $pronounMap := dict "he" "he/him" "she" "she/her" "they" "they/them" "it" "it/its" "any" "Any pronouns" "ask"
    "Ask me my pronouns" "avoid" "Avoid pronouns, use my name" "other" "Other pronouns" -}}
    {{- $pronouns := site.Params.Pronouns -}}
    {{- if hasPrefix $pronouns "pronoundb:" -}}
        {{- $pronouns = replace $pronouns "pronoundb:" "" -}}
        {{- $pronoundbURL := printf "https://pronoundb.org/api/v2/users/%s" $pronouns -}}
        {{- $pronoundbJSON := dict -}}
        {{- with resources.GetRemote $pronoundbURL -}}
            {{- $pronoundbJSON = . | unmarshal -}}
        {{- else -}}
            {{- errorf "Unable to fetch the PronounDB API" -}}
        {{- end -}}

        {{- $pronounSets := index $pronoundbJSON.sets.en -}}
        {{- if eq (len $pronounSets) 1 -}}
            {{- $pronouns = index $pronounSets 0 -}}
            {{- $pronoun := index $pronounMap $pronouns -}}
        {{- else -}}
            <!-- Add them all separated by "/" without spaces between -->
            {{- $pronouns = "" -}}
            {{- range $index, $element := $pronounSets -}}
                {{- if gt $index 0 -}}{{- $pronouns = printf "%s/" $pronouns -}}{{ end -}}
                {{- $pronouns = printf "%s%s" $pronouns $element }}
            {{- end -}}
        {{- end -}}
    {{- end -}}
    {{- if isset site.Params "flag" -}}
        {{- $pronouns = printf "%s | %s" $pronouns .Site.Params.Flag -}}
    {{- end -}}
    {{- .Scratch.Set "pronouns" $pronouns -}}
{{- end -}}

{{- partial "head.html" . -}}

<body>
    <script type="text/javascript">
        // Immediately set theme on page load
        setThemeByUserPref();
    </script>
    {{- partial "header.html" . -}}
    <main id="content">
        {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
</body>

</html>