<article class="post-title">
    {{ $id := delimit (shuffle (seq 1 9)) "" }}
    {{ if isset .Params "image" }}
    {{ $imageUrl := path.Join .RelPermalink .Params.image }}
    {{ if or (strings.HasPrefix .Params.image "http") (strings.HasPrefix .Params.image "/") }}
    {{ $imageUrl = .Params.image }}
    {{ end }}
    <a href="{{ .Permalink }}" class="post-title-image" style="background-image: url('{{ $imageUrl }}');" />
    {{ end }}
    <div class="post-info" id="{{ $id }}">
        <a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a>
        <br>
        <span class="post-date">{{ dateFormat (or .Site.Params.dateFormat "January 2, 2006") .Date}}</span>
        <br>
        {{ with .Description }}
        <div class="post-description">{{ . }}</div>
        {{ end }}
    </div>
    <script>
        // clicking post-info will redirect to post
        document.getElementById("{{ $id }}").onclick = function() {
            window.location.href = "{{ .Permalink }}";
        };
    </script>
</article>