<div class="post-title prevent-select">
    {{ $id := delimit (shuffle (seq 1 9)) "" }}
    {{ if isset .Params "image" }}
    {{ $image := (resources.Get .Params.image ) }}
    {{ $imageUrl := ($image.Resize "800x q75").RelPermalink }}
    {{ if strings.HasPrefix .Params.image "http" }}
    {{ $imageUrl = .Params.image }}
    {{ end }}
    <a href="{{ .Permalink }}" class="post-title-image" style="background-image: url('{{ $imageUrl }}');" />
    {{ end }}
    <div class="post-info" id="{{ $id }}">
        <a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a>
        <br>
        <span class="post-date">{{ dateFormat (or .Site.Params.dateFormat "January 2, 2006") .Date}}
            {{ if lt .Date .Lastmod }} | Updated {{ dateFormat (or .Site.Params.dateFormat "January 2, 2006") .Lastmod }}{{ end }}</span>
        <br>
        {{- with .Description | markdownify }}
        <div class="post-description">{{ . }}</div>
        {{ end -}}
    </div>
    <script>
        // clicking post-info will redirect to post
        document.getElementById("{{ $id }}").onclick = function () {
            window.location.href = "{{ .Permalink }}";
        };
    </script>
</div>