{{ define "main" }}
<section class="home-about">
    {{ if isset .Site.Params "bannerurl" }}
    {{ $bannerUrl := .Scratch.Get "bannerImgSrc" }}
    <div class="banner" style="background-image: url('{{ $bannerUrl }}');"></div>
    <div class="banner-avatar">
        {{ end }}
        <div class="avatar">
            {{ if isset .Site.Params "avatarurl" }}
            <img class={{ .Site.Params.AvatarSize | default "size-m" }} src='{{ .Scratch.Get "avatarImgSrc" }}'
                alt="{{ .Site.Params.AvatarAltText|default " avatar" }}" />
            {{ end }}
        </div>
        {{ if isset .Site.Params "bannerurl" }}
    </div>
    {{ end }}

    <h1>{{ .Site.Title }} </h1>
    {{ if isset .Site.Params "pronoundb" }}
    {{ $pronounMap := dict "he" "he/him" "she" "she/her" "they" "they/them" "it" "it/its" "any" "Any pronouns" "ask"
    "Ask me my pronouns" "avoid" "Avoid pronouns, use my name" "other" "Other pronouns" }}
    {{ $pronoundbURL := printf "https://pronoundb.org/api/v2/users/%s" .Site.Params.PronounDB }}
    {{ $pronoundbJSON := getJSON $pronoundbURL }}
    {{ $pronounSets := index $pronoundbJSON.sets.en }}
    <div id="pronouns">
        {{ if eq (len $pronounSets) 1 }}
        {{ $pronouns := index $pronounSets 0 }}
        {{ $pronoun := index $pronounMap $pronouns }}
        {{ $pronoun }}
        {{ else }}
        <!-- Add them all separated by "/" without spaces between -->
        {{ $pronouns := "" }}
        {{ range $index, $element := $pronounSets }}
        {{ if gt $index 0 }}{{ $pronouns = printf "%s/" $pronouns }}{{ end }}
        {{ $pronouns = printf "%s%s" $pronouns $element }}
        {{ end }}
        {{ $pronouns }}
        {{ end }}
    </div>
    {{ end }}
    {{ if isset .Site.Params "description" }}
    <h3>{{ .Site.Params.Description }}</h3>
    {{ end }}

</section>

<div class="flex-break"></div>

{{ if isset .Site.Params "socialicons" }}
<section class="social-icons">
    <ul class="social-icons-list">
        {{ range .Site.Params.SocialIcons }}
        <li class="social-icon">
            <a href="{{ .url }}" {{ if .rel }}rel="{{ .rel }}" {{ end }} aria-label="Learn more on {{ .name }}">
                <img class="svg-inject" src="/svg/icons/{{ .name }}.svg" />
            </a>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}

{{ if os.FileExists "index-about.md" }}
<div class="markdown-content" style="text-align: center;">
    {{ readFile "index-about.md" | markdownify }}
</div>
{{ end }}

{{ if isset .Site.Params "homepagebuttons" }}

<section class="home-buttons">
    <ul class="home-button-list">
        {{ range .Site.Params.HomepageButtons }}
        <li class="home-button">
            <a href="{{ .url }}" class="button">{{ .name }}</a>
        </li>
        {{ end }}
    </ul>
</section>

{{ end }}

{{ if isset .Site.Params "showpostsonhomepage" }}

<div class="home-posts list-posts">
    <h2>{{ i18n (.Site.Params.ShowPostsOnHomePage | humanize) }} Posts</h2>

    {{ $posts := where .Site.Pages "Params.type" "post" }}

    {{ if eq .Site.Params.ShowPostsOnHomePage "popular" }}
    {{ range $posts.ByWeight | first 4 }}
    {{- partial "list-posts.html" . -}}
    {{ end }}
    {{ else if eq .Site.Params.ShowPostsOnHomePage "recent" }}
    {{ range $posts.ByDate.Reverse | first 4 }}
    {{- partial "list-posts.html" . -}}
    {{ end }}
    {{ end }}
</div>

{{ end }}
{{ end }}