{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $width := .Get "width" -}}
{{- $height := .Get "height" -}}
{{- $class := .Get "class" -}}
{{- $link := .Get "link" -}}

<a href="{{ $link }}">
  <figure>
    {{- $image := resources.Get $src -}}
    {{- $resizedImg := $image -}}
    {{- if and $width $height -}}
    {{- $resizedImg := $image.Resize $width $height -}}
    {{- else if $width -}}
    {{- $resizedImg := $image.Resize $width -}}
    {{- else if $height -}}
    {{- $resizedImg := $image.Resize nil $height -}}
    {{- end -}}
    {{- if and (ge $image.Width 1920) (ge $image.Height 1080) -}}
    {{- $resizedImg = $resizedImg.Resize "1600x900" -}}
    {{- end -}}
    <img src="{{ $resizedImg.RelPermalink }}" alt="{{ $alt }}" class="{{ $class }}">
    <figcaption>{{ .Get "caption" }}</figcaption>
  </figure>
</a>